/* 
color pallete:
dark teal: #1A535C;
teal: #4ECDC4;
white: #F7FFF7;
pink: #FF6B6B;
soft yellow: #FFE66D;
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

body {
  background-color: #4ecdc4 !important;
  color: #1a535c !important;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}

p {
  font-family: "Noto Sans JP";
}

.pokemon__card {
  background-color: #f7fff7;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
  position: relative;
  padding: 15px 0;
  text-align: center;
}

.pokemon__picture {
  max-height: 260px;
}

.pokemon__picture img {
  height: auto;
  max-height: 260px;
  max-width: 300px;
  width: 100%;
}

.pokemon__number {
  background-color: #ff6b6b;
  border-radius: 50px;
  color: #f7fff7;
  left: 50%;
  position: absolute;
  top: -5px;
  transform: translate(-50%, -50%);
  width: 80%;
}

.pokemon__name {
  background-color: #ffe66d;
  color: #1a535c;
  margin-top: 15px;
  width: 100%;
  font-family: "Noto Sans JP";
}

.navbar {
  background-color: #1a535c;
  color: #f7fff7;
}

.navbar__button {
  background-color: #ff6b6b !important;
  border-color: #ff6b6b !important;
  border-radius: 10px !important;
  color: #1a535c !important;
  margin: 5px 0 !important;
}

.error__message {
  color: #1a535c;
  font-weight: 500;
  text-align: center;
}
